<a href="https://colab.research.google.com/github/Diahdwi/2025_PBO_TI1C/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jobsheet_1_DasarPemrogramanPython

#  Praktikum_01_Tipe Data Dasar

In [ ]:
# 1. Number (int, float, complex)
# Integer (int)

angka_int = 10
print ("angka_int" =, angka_int, "->", type(angka_int))

#float
angka_float = 3.14
print ("angka_float =", angka_float, "->", type (angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

In [ ]:
# 4. List
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka", daftar_angka, "->", type(daftar_angka))

In [ ]:
# 5. Tuple
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

In [ ]:
# 6. Dictionary
data_mahasiswa = {
    "nama": "Andi",
    "nim": "All.2022.12345",
    "jurursan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

In [ ]:
# 7. Set
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

In [ ]:
# 8. Contoh Penggunaan Konversi Tipe Data
nilai_str = "100"
print("nilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)
print("nilai_int =", nilai_int, "->", type(nilai_int))

# Praktikum_02_Variabel dan Operasi Dasar

In [ ]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi)
print("Mahasiswa =", is_student)

In [ ]:
# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian = a / b
modulus = a % b
pangkat = a ** b

print("\nOperasi Aritmetika")
print("a =", a,"b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

In [ ]:
# 3. Operasi Perbandingan
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama_dengan = a != b
lebih_besar_sama_dengan = a >= b
kurang_dari_sama_dengan = a <= b

print("\nOperasi Perbandinganan")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama_dengan)
print("a >= b =", lebih_besar_sama_dengan)
print("a <= b =", kurang_dari_sama_dengan)

In [ ]:
# 4. Operasi Logika
x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not = not x

print("\nOperasi Logika")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not)

In [ ]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpengaruhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpengaruhi atau b <= 0.")

# Praktikum_03_Percabangan

In [ ]:
# 1. IF sederhana
nilai = 85
print("Contoh IF sederhana:")
if nilai >80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

In [ ]:
# 2. IF - ELSE
umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
  print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
  print("Anda belum cukup umur untuk mendapatkan SIM.\n")

In [1]:
# 3. IF-ELIF-ELSE
hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
  print("Hari Senin - Sattnya kembali bekerja!")
elif hari == "Selasa":
  print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
  print("Hari Rabu - Ada diskon di beberapa toko")
else:
  print("Hari lainnya - atur jadwalmu dengan baik.\n")

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko

In [5]:
# 4. IF Bersarang (Nested IF)
# Kondisi di dalam kondisi, biasa digunakan jika kita perlu
# memeriksa sub-kondisi setelah kondisi pertama terpenuhi.

suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
     print("Cuaca cukup panas.")
     if suhu > 40:
         print("Bahkan sangat terik! Disarankan banyak minum air.")
     else:
         print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
  print("Cuaca sepertinya cukup sejuk.\n")

Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.

In [6]:
# 5. Menggabungkan Percabangan dengan Operasi Logika
# Memeriksa beberapa kondisi sekaligus dengan and, or, not

nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
  print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
  print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:
  print("Anda perlu meningkatkan nilai teori.")
else:
  print("Anda perlu meningkatkan nilai praktik.\n")

Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.

In [7]:
# 6. Penggunaan If Ternary (atau Conditional Expression)
# Bentuk ringkas: <hasil_if_true> if <kondisi> else <hasil_if_false>

angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

Contoh If Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol

# Praktikum_04_Perulangan

In [8]:
# -*- coding: utf-8 -*-

# 1. FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
  print("Perulangan ke-", i)
# range(5) menghasilkan nilai 0, 1, 2, 3, dan 4
# Sehingga perulangan akan berjalan sebanyak 5 kali
  print()  # pemisah output

1) FOR loop dengan range()
Perulangan ke- 0

Perulangan ke- 1

Perulangan ke- 2

Perulangan ke- 3

Perulangan ke- 4

In [9]:
# 2. FOR Loop untuk mengiterasi List
print("2) FOR loop mengiterasi list")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
  print("Buah:", item)
# Loop akan mengeksekusi setiap elemen dalam list "buah"
  print()

2) FOR loop mengiterasi list
Buah: apel

Buah: mangga

Buah: jeruk

Buah: pisang

In [10]:
# 3. WHILE Loop
print("3) WHILE loop sederhana")
count = 0
while count < 5:
  print("count =", count)
  count += 1  # increment
# Perulangan while terus dijalankan selama kondisi (count < 5) bernilai True
  print()

3) WHILE loop sederhana
count = 0

count = 1

count = 2

count = 3

count = 4

In [11]:
# 4. BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
  if i == 3:
    print("Loop dihentikan pada i =", i)
    break  # mengakhiri loop saat i = 3
  print("i =", i)
# Keyword break langsung menghentikan keseluruhan perulangan
print()

4) BREAK di dalam loop
i = 0
i = 1
i = 2
Loop dihentikan pada i = 3

In [ ]:
 # 5. CONTINUE pada Loop
43: print("5) CONTINUE di dalam loop")
44: for i in range(5):
45:     if i == 2:
46:         print("Lewati i =", i, "dengan continue")
47:
berikutnya
continue  # melewati iterasi saat ini dan lanjut ke iterasi
48:     print("i =", i)
49: # Saat i = 2, baris print("i =", i) tidak akan dieksekusi
50:
51: print()